@charset "UTF-8";
.container {
  background-color: white;
  width: 100%;
  height: 80px;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0% 5%;
  width: 100%;
}

.container .box nav {
  margin-left: auto;
}

.container .box li {
  display: inline-block;
  margin-right: 15px;
}

.humburger {
  background-color: transparent;
  position: relative;
  cursor: pointer;
  margin: 0 0 0 auto;
  height: 40px;
  width: 40px;
  padding: 10px 5px 0 5px;
  display: none;
}

.humburger span {
  background-color: #4e7482;
  width: 30px;
  height: 1px;
  display: block;
  margin-bottom: 7px;
}

.humburger span:nth-child(1) {
  width: 20px;
  margin-left: 10px;
}

.drawerMenu {
  width: 0;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 0;
  display: none;
  z-index: -100;
}

.drawerMenu.open {
  height: 50vh;
  opacity: 1;
  z-index: 100;
}

/**********************************　
以下、ハンバーガーメニューの設定　
************************************/
@media screen and (max-width: 600px) {
  .container {
    margin: 0 0 0 auto;
  }
  .container .humburger {
    display: block;
  }
  .container .humburger span {
    position: absolute;
    left: 10px;
    width: 20px;
    height: 2.86px;
    border-radius: 20px;
    background-color: #4e7482;
    -webkit-transition: ease 0.75s;
    transition: ease 0.75s;
  }
  .container .humburger span:nth-of-type(1) {
    top: 12px;
    left: 0;
  }
  .container .humburger span:nth-of-type(2) {
    top: 19px;
  }
  .container .humburger span:nth-of-type(3) {
    top: 26px;
  }
  .container .drawerMenu {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  .container .drawerMenu .close {
    position: absolute;
    top: 35px;
    right: 35px;
    cursor: pointer;
  }
  .container .drawerMenu .close span {
    background-color: #4e7482;
    width: 25px;
    height: 3px;
    display: block;
    margin-bottom: 10px;
    margin: 0 0 10px auto;
  }
  .container .drawerMenu .close span:nth-child(1) {
    -webkit-transform: translateY(6px) rotate(130deg);
            transform: translateY(6px) rotate(130deg);
  }
  .container .drawerMenu .close span:nth-child(2) {
    display: none;
  }
  .container .drawerMenu .close span:nth-child(3) {
    -webkit-transform: translateY(-6px) rotate(-130deg);
            transform: translateY(-6px) rotate(-130deg);
    margin-bottom: 0;
  }
  .container .drawerMenu ul {
    width: 90%;
    margin: 100px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style: none;
  }
  .container .drawerMenu ul li {
    margin-bottom: 25px;
    opacity: 0.8;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 200;
  }
}

@media (max-width: 340px) {
  .header {
    padding: 0 10px;
  }
  .header .logo {
    width: 170px;
    height: 60px;
  }
}
/*# sourceMappingURL=Header.module.css.map */